In [45]:
import pandas as pd
import requests
import time

In [38]:
response = requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=8265bd1679663a7ea12ac168da84d2e8&language=en-US&page=1')

In [22]:
temp_df = pd.DataFrame(response.json()['results'])[['id','title','overview','release_date','popularity','vote_average','vote_count']]

In [23]:
temp_df.head()

,id,title,overview,release_date,popularity,vote_average,vote_count
0,278,The Shawshank Redemption,Imprisoned in the 1940s for the double murder ...,1994-09-23,27.5722,8.713,29026
1,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",1972-03-14,31.2870,8.686,21942
2,240,The Godfather Part II,In the continuing saga of the Corleone crime f...,1974-12-20,16.4155,8.572,13255
3,424,Schindler's List,The true story of how businessman Oskar Schind...,1993-12-15,13.2889,8.567,16775
4,389,12 Angry Men,The defense and the prosecution have rested an...,1957-04-10,15.0119,8.548,9464

In [ ]:
df = pd.DataFrame()     # empty df

for i in range(1, 429):
    try:
        response = requests.get( f'https://api.themoviedb.org/3/movie/top_rated?api_key=8265bd1679663a7ea12ac168da84d2e8&language=en-US&page={i}',timeout=10)
        
        response.raise_for_status()
        temp_df = pd.DataFrame(response.json()['results'])[['id', 'title', 'overview', 'release_date', 'popularity', 'vote_average', 'vote_count']]

        df = pd.concat([df, temp_df], ignore_index=True)
        time.sleep(0.5)
        
    except:
        time.sleep(2)
        continue

In [46]:
df

,id,title,overview,release_date,popularity,vote_average,vote_count
0,278,The Shawshank Redemption,Imprisoned in the 1940s for the double murder ...,1994-09-23,27.5722,8.713,29026
1,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",1972-03-14,31.2870,8.686,21942
2,240,The Godfather Part II,In the continuing saga of the Corleone crime f...,1974-12-20,16.4155,8.572,13255
3,424,Schindler's List,The true story of how businessman Oskar Schind...,1993-12-15,13.2889,8.567,16775
4,389,12 Angry Men,The defense and the prosecution have rested an...,1957-04-10,15.0119,8.548,9464
...,...,...,...,...,...,...,...
4675,157336,Interstellar,The adventures of a group of explorers who mak...,2014-11-05,62.4519,8.461,38069
4676,769,GoodFellas,"The true story of Henry Hill, a half-Irish, ha...",1990-09-12,12.7701,8.454,13701
4677,346,Seven Samurai,A samurai answers a village's request for prot...,1954-04-26,7.8402,8.452,4004
4678,12477,Grave of the Fireflies,"In the final months of World War II, 14-year-o...",1988-04-16,0.0109,8.449,6143
4679,637,Life Is Beautiful,A touching story of an Italian book seller of ...,1997-12-20,7.3835,8.441,13581

In [34]:
df.shape

(4580, 7)

In [ ]:
# exporting
df.to_csv('movies.csv')

# Now you can upload this datasets ti kaggle
# rapidapi -- by doing same procedure you can make big datasets and upload to kaggle